
* {
	font-size: 1.0em;
}

h1 {
	font-size: 1.em !important;
}

form label {
	margin: 5px;
	padding: 1em;
	line-height: 3em;
}

button {
	display: block;
	border: 3px solid black;
	border-radius: 5px;
	background-color: lightgrey;
	width: 10em;
	height: 4em;
	margin: 1em;
}

input [type="submit"] {
	border: 2px solid grey; 
	border-radius: 3px;
	height: 4em;
}